/**
 * GBO Entities
 * It allows the possibility of standardizing the way entities are created and generated for the different regions and global entities of GBO (Global Backoffice), allowing the creation of entities in a single way for the different users with a new way that allows this action to be carried out. 
 *
 * The version of the OpenAPI document: 1.4.0
 * Contact: dario.vega@gruposantander.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package es.santander.scib.gboentities.rest.client;

import es.santander.scib.gboentities.rest.dto.AccountOwner;
import jakarta.ws.rs.*;
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * GBO Entities
 *
 * <p>It allows the possibility of standardizing the way entities are created and generated for the different regions and global entities of GBO (Global Backoffice), allowing the creation of entities in a single way for the different users with a new way that allows this action to be carried out. 
 *
 */

@RegisterRestClient(configKey="gbo-rest-service")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/entities/{entity_id}/account_owners")
public interface AccountOwnersApi  {

    /**
     * Creates account owners associated with an entity.
     *
     * Creates account owners associated with an entity.
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AccountOwner createAccountOwners(@PathParam("entity_id") String entityId, @HeaderParam("authorization")  @NotNull String authorization, @HeaderParam("x-santander-client-id")  @NotNull String xSantanderClientId, @Valid AccountOwner accountOwner, @HeaderParam("x-santander-device")  String xSantanderDevice, @HeaderParam("accept-language")  String acceptLanguage, @HeaderParam("if-none-match")  String ifNoneMatch, @HeaderParam("if-match")  String ifMatch, @HeaderParam("x-b3-traceid")  String xB3Traceid, @HeaderParam("x-b3-parentspanid")  String xB3Parentspanid, @HeaderParam("x-b3-spanid")  String xB3Spanid, @HeaderParam("x-b3-sampled")  String xB3Sampled) throws ApiException, ProcessingException;

    /**
     * Updates account owners associated with an entity.
     *
     * Updates account owners associated with an entity.
     *
     */
    @PATCH
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    AccountOwner updateAccountOwners(@PathParam("entity_id") String entityId, @HeaderParam("authorization")  @NotNull String authorization, @HeaderParam("x-santander-client-id")  @NotNull String xSantanderClientId, @Valid AccountOwner accountOwner, @HeaderParam("x-santander-device")  String xSantanderDevice, @HeaderParam("accept-language")  String acceptLanguage, @HeaderParam("if-none-match")  String ifNoneMatch, @HeaderParam("if-match")  String ifMatch, @HeaderParam("x-b3-traceid")  String xB3Traceid, @HeaderParam("x-b3-parentspanid")  String xB3Parentspanid, @HeaderParam("x-b3-spanid")  String xB3Spanid, @HeaderParam("x-b3-sampled")  String xB3Sampled) throws ApiException, ProcessingException;
}
