/**
 * Corporate Loan Servicing Customers
 * This API manages customer records in the LoanIQ loan servicing application.  The API can be used to: - Create a customer record. - Create standard settlement instructions for a customer.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: scibapigovernance@gruposantander.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package es.santander.scib.loanservicingcustomers.rest.client;

import es.santander.scib.loanservicingcustomers.rest.dto.StandardSettlementInstructions;

import jakarta.ws.rs.*;
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * Corporate Loan Servicing Customers
 *
 * <p>This API manages customer records in the LoanIQ loan servicing application.  The API can be used to: - Create a customer record. - Create standard settlement instructions for a customer.
 *
 */

@RegisterRestClient(configKey="scib-api-gateway")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/customers/{customer_id}/standard_settlement_instructions")
public interface StandardSettlementInstructionsApi  {

    /**
     * Creates standard settlement instructions for a customer.
     *
     * Creates standard settlement instructions for a specific customer.  To send this request, you must provide a customer ID in the request path.  The following must be provided in the request body: - Currency code - List of parties and their details, related to the instruction settlement - Special settlement instructions
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    void createStandardSettlementInstructions(@PathParam("customer_id") String customerId, @HeaderParam("x-santander-client-id")  @NotNull String xSantanderClientId, @Valid StandardSettlementInstructions standardSettlementInstructions, @HeaderParam("accept-language")  String acceptLanguage) throws ApiException, ProcessingException;
}
